services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 50s
    volumes:
      - mysql_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      -  ./.rabbitmq/data/:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "status"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 60s

  web:
    build: .
    container_name: tick_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  celery_worker:
    build: .
    container_name: celery_worker
    command: kernprof -l -v -m celery -A tick_system worker --loglevel=info --concurrency=8
    volumes:
      - .:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
      mysql:
        condition: service_healthy
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//

  tick_producer:
    build: .
    container_name: tick_producer
    command: python manage.py run_tick_producer --broker_id=1
    volumes:
      - .:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
      celery_worker:
        condition: service_started
      mysql:
        condition: service_healthy

volumes:
  mysql_data: