services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: tick_web
    # Adding 120 second delay to prevent conflicts with late mysql server starts
    command: bash -c "sleep 120 && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
    restart: always

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A tick_system worker -P eventlet --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
      - mysql
    restart: always

  tick_producer:
    build: .
    container_name: tick_producer
    command: python manage.py run_tick_producer --broker_id=1
    volumes:
      - .:/app
    depends_on:
      - celery_worker
      - redis
      - mysql

volumes:
  mysql_data:
